* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  min-width: 1000px;
  min-height: 20vh;
}

.header-main {
  width: 100%;
}

.header-logo {
  background-size: cover;
  width: 200px;
  height: 140px;
  margin: 2px;
}
