* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f4f7;
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

/* START LOGIN STYLE */

.login {
  width: 1140px;
  margin: 0 auto;
}

.login .heading {
  text-align: center;
  margin: 150px 0 50px;
  font-size: 30px;
  color: #3a0f49;
}

.login .heading .title {
  font-size: 32px;
  font-weight: bold;
}

.login .heading .text {
  font-size: 35px;
  letter-spacing: 7px;
  margin-left: 7px;
  text-transform: uppercase;
}

.login .heading hr {
  width: 300px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 auto;
}

.username {
  outline: none;
  width: 300px;
  display: table;
  padding: 15px 20px;
  margin: auto;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0 none;
  background-color: #3a0f49;
  color: rgb(113, 127, 136);
  border-radius: 5px;
}

.password {
  outline: none;
  width: 300px;
  display: table;
  padding: 15px 20px;
  margin: 20px auto;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0 none;
  background-color: #3a0f49;
  color: rgb(113, 127, 136);
  border-radius: 5px;
}

.username:hover,
.password:hover {
  color: rgb(113, 127, 136);
}

.username:focus,
.password:focus {
  color: rgb(113, 127, 136);
  background-color: #3a0f49;
  width: 350px;
  border-radius: 5px;
  transition: 0.6s;
}

.username:not(focus),
.password:not(focus) {
  transition: 0.6s;
}

.remember {
  width: 300px;
  margin: auto;
}

.remembercheck {
  margin-top: 4px;
  margin-left: -20px;
  float: left;
  outline: none;
}

.remembercheck:hover {
  cursor: pointer;
}

.rememberspan {
  color: rgb(113, 127, 136);
}

.remembercheck:checked + .rememberspan {
  outline: none;
  color: #3a0f49;
  transition: 0.6s;
}

.rememembercheck:not(checked) + .rememberspan {
  color: rgb(113, 127, 136);
  transition: 0.6s;
}

.return a {
  text-decoration: none;
  color: rgb(113, 127, 136);
}

.return {
  float: right;
  margin-right: -20px;
  color: rgb(113, 127, 136);
  text-transform: capitalize;
  font-style: italic;
}

.return:hover {
  color: rgb(113, 127, 136);
  text-decoration: underline;
  cursor: pointer;
}

.submit {
  outline: none;
  display: table;
  margin: 40px auto;
  padding: 10px 0 10px 0;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #3a0f49;
  color: rgb(113, 127, 136);
  border-radius: 5px;
  border: 5px none rgb(0, 18, 30);
}

.submit:hover {
  outline: none;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  color: rgb(113, 127, 136);
  background-color: #3a0f49;
  transition: 0.2s;
}

.submit:not(hover) {
  color: rgb(113, 127, 136);
  border: 5px none rgb(0, 18, 30);
  transition: 0.6s;
}

/* END LOGIN STYLE */

/* START HEADER STYLE */

.navtop {
  background-color: #3a0f49;
  height: 60px;
  width: 100%;
  border: 0;
}

.navtop .item {
  display: flex;
  margin: 0 auto;
  width: 1140px;
  height: 100%;
}

.navtop .item h1,
.navtop .item a {
  display: inline-flex;
  align-items: center;
}

.navtop .item h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navtop .item a {
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navtop .item h1 a {
  padding: 0;
}

.navtop .item a i {
  padding: 2px 8px 0 0;
}

.navtop .item a:hover {
  color: #e54160;
}

/* END HEADER STYLE */

/* START CONTENT STYLE */

.content {
  width: 1140px;
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #3a0f49;
}

.content h2:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 22px;
  border-left: 5px solid #e54160;
  border-right: 5px solid #e54160;
  transform: skew(-19.5deg);
  margin: 0px 8px -3px 5px;
}

.content p {
  padding-top: 10px;
}

.content p span {
  color: #3a0f49;
  font-weight: 600;
}

.content .box {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}

.content .box p {
  color: #3a0f49;
  padding: 0;
}

.content .product a,
.content .order a,
.content .time a {
  text-decoration: none;
  color: #3a0f49;
  font-weight: 700;
}

.content .product a:hover,
.content .order a:hover,
.content .time a:hover {
  text-decoration: underline;
  color: #e54160;
}

/* END CONTENT STYLE */

/* START PROFILE STYLE */

.content .profile {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}

.content .profile p table td,
.content .profile table td {
  padding: 5px;
}

.content .profile p table td:first-child,
.content .profile table td:first-child {
  font-weight: bold;
  color: #3a0f49;
  padding-right: 15px;
}

.content .profile p {
  padding: 5px;
  margin: 0 0 10px 0;
}

/* END PROFILE STYLE */

/* START PRODUCT STYLE */

.list table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
}

.list table thead {
  background-color: #ebeef1;
  border-top: 1px solid #e0e0e3;
  border-bottom: 1px solid #e0e0e3;
}

.list table thead tr {
  text-align: left;
}

.list table thead tr th {
  padding: 5px 10px 5px 10px;
}

.list table tbody tr {
  border-bottom: 1px solid #e0e0e3;
}

.list table tbody tr:nth-child(even) {
  background-color: #fbfcfc;
}

.list table tbody tr:hover {
  background-color: #3a0f49;
}

.list table tbody tr:hover td {
  color: #ffffff;
}

.list table tbody tr:hover td:nth-child(1) {
  color: #ffffff;
}

.list table tbody tr td {
  padding: 10px;
}

.list table tbody tr td:nth-child(1) {
  color: #a5a7a9;
}

/* END PRODUCT STYLE */

/* START ORDER STYLE */

/* Here goes orders styling */

/* End ORDER STYLE */

/* START TIME STYLE */

/* Here goes openinghours styling */

/* END TIME STYLE */

/* START FOOTER STYLE */

.copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.copyright p {
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  color: #3a0f49;
  text-transform: capitalize;
  margin-bottom: 15px;
}

/* END FOOTER STYLE */
